GITHUB_TOKEN=
GITHUB_OWNER=vornicx
ARCHIC_PUBLISH_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
POSTGRES_URL_NON_POOLING=
ARCHIC_FOUNDER_INVITE_HASH_1=
ARCHIC_FOUNDER_INVITE_HASH_2=
